In [45]:
%run imports.ipynb

In [46]:
preprocessor = Preprocessor('median', 'mode', 
                            roll_cols=standard_roll_cols, 
                            roll_strategies=standard_roll_strategies,
                            roll_period=7)
data = preprocessor.preprocess(train, visualize=True)

In [47]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm_7days,Humidity9am_7days,Humidity3pm_7days,Pressure9am_7days,Pressure3pm_7days,Cloud9am_7days,Cloud3pm_7days,Temp9am_7days,Temp3pm_7days,RainToday_7days
0,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,20.000000,68.000000,29.000000,1019.700000,1015.000000,7.000000,7.000000,14.400000,23.600000,0.0
1,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,20.000000,68.000000,29.000000,1019.700000,1015.000000,7.000000,7.000000,14.400000,23.600000,0.0
2,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,18.500000,74.000000,32.500000,1016.050000,1011.700000,6.000000,5.000000,15.950000,24.650000,1.0
3,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,14.333333,76.666667,44.666667,1013.866667,1010.200000,6.666667,5.666667,15.766667,23.166667,2.0
4,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,16.750000,73.000000,47.500000,1011.775000,1009.400000,5.500000,6.000000,15.200000,20.900000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109098,2015-06-14,Witchcliffe,4.2,15.6,0.8,NaN,NaN,ESE,37.0,NaN,...,14.571429,81.285714,69.428571,1024.242857,1022.328571,NaN,NaN,14.200000,17.128571,NaN
109099,2015-06-14,Woomera,13.3,16.2,0.0,NaN,NaN,E,33.0,E,...,16.285714,71.571429,45.857143,1027.771429,1025.442857,NaN,NaN,10.557143,17.342857,0.0
109100,2015-06-14,Katherine,18.9,33.2,0.0,4.0,NaN,ENE,28.0,ENE,...,17.428571,67.714286,41.285714,1015.628571,1011.671429,2.000000,3.571429,23.342857,30.657143,0.0
109101,2015-06-14,Nhil,5.5,16.6,0.0,NaN,NaN,ENE,20.0,E,...,20.000000,98.571429,56.000000,1029.057143,1026.628571,NaN,NaN,7.328571,15.114286,0.0
109102,2015-06-14,Uluru,9.3,24.8,0.0,NaN,NaN,ENE,33.0,ESE,...,15.571429,61.857143,31.142857,1025.314286,1021.542857,NaN,NaN,11.814286,21.128571,0.0

In [91]:
location = 'Sydney'
locations = preprocessor.locations.copy(deep=True)
selected_columns = [column for column in data.columns if 'RainToday_' in column]
total_rains = data.groupby('Location')['RainTomorrow'].sum()
total_rains.index.name = 'index'
locations = locations.merge(total_rains.rename('Total_rains').reset_index(), left_on='Location_reduced', right_on='index').drop('index', axis=1)
relative_raintoday = data.loc[(data.RainTomorrow == 1) & (data.Location == location), selected_columns].sum(axis=0)
relative_raintoday.index = relative_raintoday.index.to_series().apply(lambda txt: txt[10:])
locations = locations.merge(relative_raintoday.rename('relative_RainToday').reset_index(), left_on='Location_reduced', right_on='index').drop('index', axis=1)

In [94]:
locations.loc[locations.Location_reduced == location, 'Latitude'].to_list()

[-33.8698439]

In [83]:
total_rains.reset_index()

             Location RainTomorrow
0            Adelaide          524
1              Albany          679
2              Albury          465
3       Alice Springs          187
4      Badgerys Creek          457
5            Ballarat          595
6             Bendigo          420
7            Brisbane          566
8              Cairns          721
9            Canberra          482
10              Cobar          273
11      Coffs Harbour          674
12           Dartmoor          706
13             Darwin          660
14         Gold Coast          603
15             Hobart          589
16          Katherine          131
17         Launceston          540
18          Melbourne          523
19  Melbourne Airport          484
20            Mildura          253
21              Moree          292
22      Mount Gambier          700
23       Mount Ginini          613
24          Newcastle          555
25               Nhil          127
26         Norah Head          604
27     Norfolk Island          683
28          Nuriootpa          434
29        Pearce RAAF          357
30            Penrith          456
31              Perth          484
32      Perth Airport          421
33           Portland          824
34           Richmond          418
35               Sale          496
36        Salmon Gums          335
37             Sydney          669
38     Sydney Airport          588
39         Townsville          410
40        Tuggeranong          417
41              Uluru           53
42        Wagga Wagga          387
43            Walpole          689
44           Watsonia          565
45        Williamtown          520
46        Witchcliffe          660
47         Wollongong          548
48            Woomera          152